<div class="container d-flex" style="height: 100vh; flex-direction: column; justify-content: center; align-items: center;">
  <h1 class="title">vibing.</h1>
  <p class="desc">Create a personalised playlist for you and your friends_</p>

  <button mat-raised-button color="primary" class="login-btn" (click)="login()">
    <img src="../../../assets/images/spotify.svg" alt="spotify" class="spotify-icon">
    Login with Spotify
  </button>

  <p class="credit">Created by Tiffany, Lawson, Terry & Yongler for Hack&Roll 2021</p>
</div>
