.track {
  padding: 10px 15px;
}

.album-art {
  height: 100px;
  width: 100px;
}

#name {
  font-size: 16px;
  color: #000000;
  font-family: 'Roboto Mono', serif;
}

#artist {
  font-size: 14px;
  color: #605959;
  font-family: 'Roboto Mono', serif;

}

.co {
  margin: 0 0px;
}

@media only screen and (max-width: 767px) {
  #name {
    text-align: center;
  }

  #artist {
    text-align: center;
  }
}
