.container {
  height: 100vh;
  flex-direction: column;
  padding-left: 90px;
  justify-content: center;
}

.question {
  font-family: 'Abhaya Libre';
  font-size: 2rem;
  line-height: 90%;
  margin-bottom: 5%;
}

.no-border {
  border: 0;
  box-shadow: none;
  padding: 0;
  font-family: 'Roboto Mono';
  font-size: 30px;
}

.submit-btn {
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  padding: 5px 20px;
}

.show {
  opacity: 1 !important;
  transition: .5s ease-in-out all;
}

.hidden {
  opacity: 0;
  transition: .5s ease-in-out all;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .input {
    width: 300px;
  }

  .question {
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 388px) {
  .container {
    padding-left: 20px;
  }

  .no-border {
    font-size: 18px;
  }
}
