<div class="container d-flex justify-content-center align-items-center">
  <div class="title">Selected Vibes</div>

  <div class="row track-row">
    <div class="col-sm-6" *ngFor="let track of selectedTracks">
      <app-selected-track [track]="track"></app-selected-track>
    </div>
  </div>

  <div class="row mt-5 justify-content-center btn-row">
    <button class="btn pri" (click)="onContinue()">Generate Vibe!</button>
    <button class="btn sec" (click)="onSelectAgain()">Select Again</button>
  </div>
</div>
